h1{ 
    color: red;
}
h2{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    color: rgb(97, 97, 97);
}
p{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
    color: rgb(219, 74, 17);
}

ol.li{
    
}